body {
    background-image: url('sss.jpg');
    background-size: cover;
}

.header, #Button1, #Button2 {
    font-family: 'Quicksand', sans-serif;
}

.header
{
     font-size:30px;
    color:#E74C3C  ;
    text-align:center;
}

.left
 {
    text-align: center;
    color: white;
   width:50%;
   float:left;
    height: 376px;
    margin-top: 57px;
}

.right {
    width: 50%;
    float:left;
    text-align:center;
    color:white;
    height: 380px;
    margin-top: 17px;
}

#Button1, #Button2, #Button3{
    border:0;
    background:none;
    margin:20px auto;
    border:2px solid #E74C3C;
    padding:14px 10px;
    width:300px;
    outline:none;
    border-radius:24px;
    color:white;
    transition:0.25s;
    font-size:20px;
     cursor:pointer;
}

    #Button1:hover, #Button2:hover,#Button3:hover {
        background:#E74C3C;
    }
    #GridView1 {
    text-align: center;
    background: none;
    border: 2px solid Black;
    color:#E74C3C;
}